/Lab2/Lab2JavaSwing/nbproject/private/
/Lab2/Lab2JavaSwing/build/
/Lab3/Lab3JavaSwing/nbproject/private/
/Lab3/Lab3JavaSwing/build/
/Lab3/Lab3_Navigation/nbproject/private/
/Lab3/Lab3_Navigation/build/
/Lab3/Lab3Navigation/nbproject/private/
/Lab3/Lab3Navigation/build/
/assingment3/nbproject/private/
/assingment3/build/
/Lab3/assingment_3/nbproject/private/
/Lab3/assingment_3/build/
/Lab3/assingment_3/dist/
/Lab3/Lab3Navigation/dist/
/assingment_3/build/
/assingment_3/dist/
/assingment_3/nbproject/private/
/Lab5/nbproject/private/
/Lab5_JavaFx/nbproject/private/
/Lab5/Lab5/nbproject/private/
/Lab5/Lab5_JavaFx/nbproject/private/
/Lab5/Lab5_JavaFX/nbproject/private/
/Lab5/Lab5_JavaFX/build/
/Lab5/assingment5/nbproject/private/
/Lab5/assingmenet5/nbproject/private/
/Lab5/assingmenet5/build/
/Lab5/assingmenet5/dist/
