/Lab2/Lab2JavaSwing/nbproject/private/
/Lab2/Lab2JavaSwing/build/
/Lab3/Lab3JavaSwing/nbproject/private/
/Lab3/Lab3JavaSwing/build/
/Lab3/Lab3_Navigation/nbproject/private/
/Lab3/Lab3_Navigation/build/
/Lab3/Lab3Navigation/nbproject/private/
/Lab3/Lab3Navigation/build/
/assingment3/nbproject/private/
/assingment3/build/
/Lab3/assingment_3/nbproject/private/
/Lab3/assingment_3/build/
